.container {
   max-width: 400px;
   margin: 10vh auto 0 auto;
   box-shadow: 0px 0px 43px 17px rgba(153, 153, 153, 1);
   padding: 10px;
   border-radius: 10px;
   background-color: black;
   border-style: groove;
}
#display{
   text-align: right;
   height: 70px;
   line-height: 70px;
   padding: 16px 8px;
   font-size: 25px;
   border-style:groove ;
   border-radius: 15px;
   box-shadow: 0px 0px 13px 7px rgba(15, 15, 15, 1); ;
   margin: 10px;
   background-color: grey;
}
.buttons{
   display: grid;
   border-bottom: 1px solid #999;
   border-left: 1px solid #999;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   background-color: grey;
   border-radius: 15px;
   padding: 10px;

}
.buttons > div{
   border-top: 1px solid #999;
   border-right: 1px solid #999;
}
.button {
   border: 0.5px solid #999;
   line-height: 100px;
   text-align: center;
   font-size: 25px;
   cursor: pointer;
   color: chartreuse;
   background-color: #323330;
   border-radius: 50%;
}
#equal {
   background-color: #5555ff;
   color: white;
}
.button:hover{
   background-color: grey;
   color: white;
   transition: 0.5s ease-in-out;
}
